*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
	background: ghostwhite;
	color: dimgray;
	font-family: 'Quicksand', serif;
	text-align: center;
    font-size: large;
}

h1{font-size: 200%;}

#customContainer {
	margin: 5% auto;
	border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px;
	text-align: center;
}

.box{
	display: inline-block;
	border: 1px solid grey;
	width: 100px;
	height: 100px;
	text-align: center;
	box-sizing:border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
	padding: 0px;
}

span{
	position: absolute;
	font-size: 75px;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	height: 75px;
	width: 75px;
	padding: 0px;
	margin: 5px;
	margin-left: -35px;
}

.top{border-top: none;}
.bottom{border-bottom: none;}
.left{border-left: none;}
.right{border-right: none;}

.alert{
	height: 75px;
	width : 125px;
	display: inline-block;
	background: ghostwhite;
	position: relative;
	z-index: 7;
	margin-top: -50%;
	border-radius: 20px; -webkit-border-radius: 20px; -moz-border-radius: 20px;
	box-shadow: 0 0 75px 2px dimgray;
	box-sizing: content-box;
	padding:30px;
	bottom: 50px;
	top: 0px;
}


button{
	background: dimgray;
	border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px;
	color: ghostwhite;
	border: none;
	outline: none;
}

button:focus{background: silver;}
.activeBox{background: silver;}



#result{
    position: absolute;
    top: 1rem;
    left: 1rem;
}
